<div class="login">
  <div class="form-container">
  
      <h1 class="title">Crear Nueva Contraseña</h1>
      <p class="subtitle">Ingrese la nueva contraseña</p>

      <form  (ngSubmit)="guardar()" [formGroup]="formulario"  class="form">
          <label for="password" class="label">Código de verificación</label>
          <input type="text" formControlName="codigo_password" placeholder="codigo enviado" class="input input-password border">
          <p class="subtitle">Ingrese la nueva contraseña</p>
          <label for="password" class="label">Contraseña</label>
          <input type="password" formControlName="password" placeholder="************" class="input input-password border">

          <label for="new-password" class="label">Contraseña</label>
          <input type="password" formControlName="password2"  placeholder="************" class="input input-password border">

          <button type="submit" class="primary-button signup-button">Confirmar</button>
      </form>
  </div>
</div>