<div class="login scroll">
  <div class="form-container">
      <form class="form1">
          <label for="email" class="label">Términos y Condiciones</label>
          <br>
          <label for="dpi" class="label">Al adquirir cualquier PRODUCTO o SERVICIO de nuestra APP y/o utilizar o acceder a la información desplegada en el mismo, el USUARIO acepta haber estudiado y entendido todos los términos y condiciones del SERVICIO que se describen en el presente documento (en adelante “Términos y Condiciones”) tales como, pero no limitados a condiciones de uso, medios para notificaciones y cláusulas de exención de responsabilidad; y manifiesta estar de acuerdo con cada uno de ellos.</label>
          <input type="radio" value="S">SI
          <input type="radio" value="N">NO
          <div class="botones">
              <button type="button" routerLink="/login" class="secondary-button signup-button">Cancelar</button>
              <button type="submit" class="primary-button signup-button">Continuar</button>
          </div>
      </form>

    

  </div>
</div>